# Ignoriši rezultate napada
Centar/mutator_results.json
AdvanceNapad/*.json
Napad/*.json
ShadowRecon/*.json
Centar/ai_evaluator.json

__pycache__/
*.pyc
*.log
Replay/*.json
Napad/*.json
PoC/*.pdf
*.db
